<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="LinqDynamic" version="1.9.5205.35168" targetFramework="net45" />
  <package id="PocoPropertyData" version="1.1.6817.30285" targetFramework="net45" />
  <package id="Utilities.CollectionExtensions" version="1.1.6577.21972" targetFramework="net45" />
</packages>